h1{
    color: red;
}
#login{
    width: 420px;
    background-color: #0aa4ff;
    margin: 0px;
    border: 4px solid white;
    border-right: 4px solid white ;
}
/*
div>input{
    width:80px;
    max-width: 80px;
}
*/
.denglu{
    margin-left: 20px;
}




body {
    background-image: url("bg.jpg");
    /*background-repeat: no-repeat;*/
    background-position:center;
    background-attachment: fixed;

}